:root {
    --white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

a {
    color: var(--white);

    &:hover {
        color: #fff;
    }
}

// Css scrollbar
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// Custom fix responsive for mobile date range picker
p.ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
    visibility: visible !important;
}

.ant-picker-panels > *:first-child button.ant-picker-header-super-next-btn {
    visibility: visible !important;
}

.ant-picker-panel-container,
.ant-picker-footer {
    width: 400px !important;
}

.ant-picker-footer-extra > div {
    flex-wrap: wrap !important;
}

.ant-picker-active-bar {
    display: none;
}

.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner {
    background-color: green !important;
    border-top-left-radius: 32px !important;
    border-bottom-left-radius: 32px !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background-color: green !important;
    border-top-right-radius: 32px !important ;
    border-bottom-right-radius: 32px !important;
}

.ant-picker-cell-in-view.ant-picker-cell-in-range::before {
    background-color: purple;
}
